h1 {
	font-size: 30px;
	text-align: center;	
   }

html {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)
    ), url("NightLondonBackground.jpg") no-repeat center fixed;
	background-size: cover;
	}

/* Contact form start */
input[type=text], select, textarea {
	width: 100%;
	padding: 14px 16px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}
input[type=submit] {
	background-color: black;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
input[type=submit]:hover {
	background-color: #223a60;
}
.container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	width: 40%
}


/* contact form finish */
	
img {
	display: block;
	margin: auto;
	width: 100%;
	border-radius: 50%;
	height: 60%;
	width:250px;
	height:250px;
	}


	
	
	
	
h2 {
	font-size: 20px;
	text-align: centre;	
	
	}

ul {
	/* navigation start */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	position: fixed;
    top: 0;
    width: auto;
	
	}

li {
    float: left;
	border-right: 1px solid #bbb;
	}

li a {
	/* length of button on navigation */
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	width:auto;
}

li a:hover {
    background-color: #223a60;
}

.active {
	/* home */
    background-color: black;
	/* navigation end */
}
/* Skill start */
* {box-sizing: border-box}

.container {
	width: 40%;
	background-color: #ddd;
	border-radius: 5px;
}

.skills {
	text-align: right;
	padding-right: 20px;
	line-height: 25px;
	color: white;
}

.html {width: 90%; background-color: #4CAF50;}
.css {width: 80%; background-color: #2196F3;}
.js {width: 65%; background-color: #f44336;}
.php {width: 60%; background-color: #808080;}
/* Skill end */

