h1 {
	font-size: 30px;
	text-align: center;	
}
img {
	/* padding: 40%; 
	border-radius: 50%;
	width:400px;
	height:400px;
	margin: auto; */
	display: block;
	margin: auto;
	width: 40%;
	border-radius: 50%;
	height: 40%;
	width:400px;
	height:400px;
}

h2 {
	font-size: 20px;
	text-align: centre;	
	
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
